html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  display: block;
}

.main {
  display: block;
  margin-top: 60px;
}

.navigation-header {
  background: white;
  min-height: 60px;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background: black;
}

.navigation {
  background-color: black;
  padding: 16px;
  display: none;
}

.navigation--open {
  display: block;
}

.navigation__link {
  display: block;
  margin-bottom: 16px;
  font-style: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.hamburger {
  position: absolute;
  top: 11px;
  right: 7px;
  border: none;
  background: none;
  font-size: 32px;
}

.main__header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding-top: 16px;
  color: darkblue;
}

.section-intro {
  padding: 10px 10px;
  color: darkblue;
  overflow: auto;
}

.section-intro__paragraph {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.section-intro__header {
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}

.section-intro_image {
  float: left;
  padding-right: 10px;
}

.section__header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: darkblue;
}

.article {
  color: darkblue;
  padding: 10px 10px;
}

.article__header {
  font-family: Arial, Helvetica, sans-serif;
}

.article__paragraph {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  box-sizing: border-box;
}

.footer__link {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer__link--return-up {
  font-size: small;
  color: black;
  background-color: white;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

.footer__paragraph {
  font-size: 12px;
}

@media screen and (min-width: 720px) {
  .hamburger {
    display: none;
  }

  .navigation {
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    padding: 10px;
    margin: 0px auto;
    position: fixed;
    left: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .navigation__link {
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    border-right: 1px solid white;
  }

  .navigation__link--last-one {
    border-right: none;
  }

  .section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }

  .section__header{
    grid-area: 1 / 1 / 2 / 3;
  }
}
